<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="icon" href="/img/icon-weather.png"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div class= "main-content">
        {{>header}}
        {{errorMsg}}
        <img src="/img/404_Error.jpg"/>
    </div>

{{>footer}}
</body>

</html>